.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: $border-radius;
  text-align: center;
  th, td {
    padding: $spacing-medium $spacing-small;
    font-size: .8rem;
  }
  caption {
    margin: $spacing-medium auto;
  }
  thead th {
    background-color: $primary-2;
    color: $grayscale-1;
    font-size: .9rem;
  }
  tbody tr:nth-child(odd) {
    background-color: $primary-4;
  }
  tbody tr:nth-child(even) {
    background-color: $primary-3;
  }
}