// Colors
$primary: #01B075;
$secondary: #C3E1E1;

$grayscale-1: #FFFFFF;
$grayscale-2: #FBF9FC;
$grayscale-3: #616975;
$grayscale-4: #404b53;
$grayscale-5: #202125;
$grayscale-6: #16171B;

$danger: #FF4A3A;
$alert: #F2C94C;

// Spacing
$small: 10px;
$medium: 20px;
$large: 50px;

// Border-radius
$border-radius: 15px;

// Shadow
@mixin shadow($color) {
  box-shadow: 0 0 10px $color;
}

* {
  margin: 0;
  box-sizing: border-box;
}
