// Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// Colors
$primary: #01B075;
$primary-2: #62b499;
$primary-3: #a2d6c5;
$primary-4: #C3E1E1;

$grayscale-1: #FFFFFF;
$grayscale-2: #f7f7f7;
$grayscale-3: #afaaaa;
$grayscale-4: #565858;
$grayscale-5: #202125;
$grayscale-6: #16171B;

$danger: #FF4A3A;
$alert: #F2C94C;

// Spacing
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 50px;

// Border-radius
$border-radius: 10px;

//z-index
$z-index-navBav: 5;

// Shadow
@mixin shadow($color) {
  box-shadow: 0 0 10px $color;
}

// Wrapper
@mixin wrapper($padding-top) {
  padding: $padding-top $spacing-medium *2;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  background-color: $grayscale-2;
  color: $grayscale-4;
  font-weight: bold;
}
